.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px;
    cursor: pointer;
    margin-left: 10px;
    background: url('../../../images/edit_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width:320px) {
    .profile__edit-button {
        margin: 0;
    }
}