.profile__edit-button {
    padding: 12px;
    border: 1px;
    cursor: pointer;
    margin: 8px 0 0 10px;
    background: url('../../../images/edit_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width:320px) {
    .profile__edit-button {
        margin: 0;
        padding: 9px;
    }
}