.profile__name {
    font-size: 42px;
    margin: 0;
    padding: 0;
    line-height: 49px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: name;
}

@media screen and (max-width: 425px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-left: 25px;


    }
}