.popup__container {
    max-width: 430px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    background: white;
    gap: 40px;
    position: relative;
    margin: 0 auto;
    top: 23%;
}

@media screen and (max-width: 320px) {
    .popup__container {
        padding: 25px 22px;
        gap: 40px;
        margin: 0 19px;
        top: 15%;
    }


}