.popup__button {
    background: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    width: 358px;
    border-radius: 2px;
    padding: 14px;
    margin-top: 42px;
    border: 0;

}

.popup__button:hover {
    opacity: .8;
}


@media screen and (max-width: 475px) {
    .popup__button {
        width: 95%;
    }
}


@media screen and (max-width: 320px) {
    .popup__button {
        width: 100%;
        font-size: 14px;
        line-height: 17px;


    }
}