.popup__close-button {
    background: url('../../../images/close_popup.svg');
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    border: 0;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    padding: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 475px) {
    .popup__close-button {
        right: 0;
        width: 20px;
        height: 20px;
    }
}