.profile__wrapper {
    display: flex;
    max-width: 880px;
    margin: 40px auto 50px;
    align-items: center;
}



@media screen and (max-width: 880px) {
    .profile__wrapper {
        max-width: 675px;

    }
}

@media screen and (max-width: 645px) {
    .profile__wrapper {
        max-width: 575px;
        flex-direction: column;
        gap: 25px;
    }
}


@media screen and (max-width: 320px) {
    .profile__wrapper {
        flex-direction: column;
        margin: 42px 19px 36px;
        gap: 28px;

    }
}