.profile__info {
    display: grid;
    max-width: 70%;
    gap: 16px;
    row-gap: 0px;
    align-items: start;
    grid-template-areas:
        "avatar name edit"
        "avatar duty .";
}

@media screen and (max-width:768px) {
    .profile__info {
        grid-template-areas:
            "avatar avatar"
            "name edit"
            "duty duty";
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        max-width: 300px;
    }
}