.profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 351px;
    margin-left: 31px;
    gap: 8px;
    margin-right: auto;
    align-items: center;
}

@media screen and (max-width:768px) {
    .profile__info {
        margin: 0;
        row-gap: 5px;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
        max-width: 80vw;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        max-width: 300px;
    }
}