.profile__button {
    width: 150px;
    border: 2px solid #fff;
    height: 50px;
    background: transparent;
    padding: 0;
    border-radius: 2px;
    position: relative;
    background-image: url('../../../images/icon_plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__button:hover {
    opacity: .6;
}

@media screen and (max-width:320px) {
    .profile__button {
        width: 100%;
    }
}