.profile__button {
    width: 150px;
    border: 2px solid #fff;
    background: transparent;
    padding: 23px;
    border-radius: 2px;
    position: relative;
    background-image: url('../../../images/icon_plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__button:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__button {
        width: 40%;
    }
}



@media screen and (max-width: 420px) {
    .profile__button {
        width: 80%;
    }
}




@media screen and (max-width:320px) {
    .profile__button {
        width: 100%;
        background-image: url('../../../images/plus_mobile.png');

    }
}