.card__trash {
    background: url('../../../images/Trash.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.card__trash:hover {
    opacity: .5;
}