.card__wrapper {
    background: white;
    display: grid;
    padding: 25px 13px 26px 13px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    grid-template-areas:
        " title heart"
        "title count";

}